doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Place Order
link(rel='preconnect' href='https://fonts.gstatic.com')
link(rel='stylesheet' href='../static/styles.css')
link(href='https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap' rel='stylesheet')
style.
  .login {
  width: 30%;
  margin: auto;
  border-radius: 30px;
  height: 480px;
  text-align: center;
  padding: 7px;
  font-size: 49px;
  padding-bottom: 30px;
  font-weight: bold;
  right: 680px;
  background-image: linear-gradient(rgb(25, 216, 175), rgb(68, 66, 66));
  }
header
  .left
    img(src='../static/bg1.jpg' alt='')
    div Food Point
  .right
    nav.navbar
      ul
        li
          a(href='/') Home
        li
          a(href='/contactus') Contact Us
.login
  | CONTACT US
  br
  |         Contact No. : 9876598765
  br
  br
  |         Find Us On:
  br
  |         Instagram:- @foodpoint
  |         LinkedIn:- @foodpoint
footer
  div(style='color: rgb(25, 216, 175) ; text-align: center; padding: 15px;')
    | All rights reserved @ Food Point
