doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Place Order
link(rel='preconnect' href='https://fonts.gstatic.com')
link(rel='stylesheet' href='../static/styles.css')
link(href='https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap' rel='stylesheet')
style.
  .view{
  width: 30%;
  margin: auto;
  top: 144px;
  border-radius: 30px;
  height: 55px;
  text-align: center;
  padding: 7px;
  font-size: 49px;
  padding-bottom: 30px;
  text-decoration: underline;
  font-weight: bold;
  right: 680px;
  border: 2px solid;
  color: black;
  position: absolute;
  }
  .login {
  width: 30%;
  margin: auto;
  border-radius: 30px;
  height: 558px;
  text-align: center;
  padding: 7px;
  top: 270px;
  position: absolute;
  font-size: 49px;
  padding-bottom: 30px;
  font-weight: bold;
  right: 680px;
  border: 2px solid;
  color: black;
  }
  button {
  border-radius: 30px;
  background: none;
  background-color: rgb(38, 136, 115);
  font-size: 31px;
  font-family: 'Shadows Into Light', cursive;
  cursor: pointer;
  padding: 0px;
  width: 30%;
  font-weight: bold;
  }
  select{
  font-family:  'Shadows Into Light', cursive;
  font-size: 30px;
  margin-left: 30px;
  }
script.
header
  .left
    img(src='../static/bg1.jpg' alt='')
    div Food Point
  .right
    nav.navbar
      ul
        li
          a(href='/') Home
        li
          a(href='/contactus') Contact Us
.view
  | VIEW MY ORDER
.login
  div(style='text-decoration: underline;')  PLACE ORDER
  form(method='post')
    label(for='meal') Select meal
    select#type(name='meal')
      option(value='Snacks') Snacks
      option(value='Lunch') Lunch
      option(value='Dinner') Dinner
      option(value='Drinks') Drinks
    br
    br
    label(for='pack') Select pack
    select#type(name='pack')
      option(value='100') Small
      option(value='200') Medium
      option(value='300') Large
    br
    br
    label(for='no') Enter no of packs
    input(type='number' name='no' autocomplete='off')
    br
    br
    label(for='payment') Select payment method
    select#type(name='pack')
      option(value='cash') Cash
      option(value='card') Card
      option(value='upi') UPI
    br
    br
    button(type='submit') Submit
footer
  div(style='color: rgb(25, 216, 175) ; text-align: center; padding: 15px;')
    | All rights reserved @ Food Point
